[submodule "woording-api"]
	path = woording-api
	url = http://github.com/woording/woording-api
[submodule "woording-db"]
	path = woording-db
	url = http://github.com/woording/woording-db
[submodule "woording-web"]
	path = woording-web
	url = http://github.com/woording/woording-web
